<div class="min-h-screen flex flex-col items-center justify-center gap-3">
  <img
    [src]="angularImage"
    class="h-40 w-40 object-contain"
    alt="Angular Logo"
  />
  <h1 class="text-2xl font-bold">Welcome {{name}} to {{ title }}</h1>
  <input [(ngModel)]="name" class="py-2 rounded-lg px-4 text-black" placeholder="Input Your Name" />
  <p>Your Name is : {{name}}</p>

  <div class="flex items-center gap-5">
    <button
      [disabled]="isDisable"
      type="button"
      class="font-semibold p-1 px-4 rounded-lg bg-white text-black hover:bg-white/90 hover:scale-105 transition-transform disabled:bg-gray-400 disabled:text-gray-700 disabled:hover:bg-gray-400 disabled:hover:scale-100"
    >
      {{ btn }}
    </button>
    <button
      (click)="toggleButtonDisabled()"
      type="button"
      class="font-semibold p-1 px-4 rounded-lg bg-white text-black hover:bg-white/90 hover:scale-105 transition-transform"
    >
      Enable Submit
    </button>
  </div>
</div>
